@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  font-family: "Poppins", sans-serif;
  border: 1px solid #141414;
  background-color: #141414;
  color: white;
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

/* .container::-webkit-scrollbar {
  display: none;
} */

.container::-webkit-scrollbar{
  display: none;
}

.hashBanner {
  width: "100%";
  height: 318px;
  background-image: url("https://imgur.com/tIPpDiu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.houseBanner {
  background-image: url("https://imgur.com/yRirGTO.png");
  width: "100%";
  height: 318px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.conzuraBanner {
  width: "100%";
  height: 318px;
  background-image: url("https://imgur.com/Tqb5mV3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.detailsDiv {
  /* border: 1px solid red; */
  width: 100%;
  height: fit-content;
  font-family: "Poppins", sans-serif;
}

.detailsDiv > div {
  width: 30%;
  height: fit-content;
}

.collectionImg {
  margin-top: -100px;
  padding: 0px;
  animation: rotateOutlines 10s infinite linear;
}

.detailsDiv > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.detailsDiv > div:nth-child(2) {
  width: 100%;
  padding: 20px 0px;
}

.searchDiv {
  padding: 20px 40px;
  margin-top: 10px;
}

@keyframes rotateOutlines {
  0% {
    outline: 3px solid rgb(255, 0, 0);
  }
  33% {
    outline: 3px solid rgb(0, 255, 0);
  }
  66% {
    outline: 3px solid rgb(0, 0, 255);
  }
  88% {
    outline: 3px solid rgb(255, 0, 255);
  }
  100% {
    outline: 3px solid rgb(255, 255, 0);
  }
}

@media (max-width: 768px) {
  .detailsDiv {
    flex-direction: column;
  }

  .detailsDiv > div {
    width: 100%;
    height: fit-content;
  }

  .collectionImg {
    margin-top: -120px;
  }

  .detailsDiv > div:nth-child(2) {
    padding: 30px;
  }

  .searchDiv {
    padding: 20px;
  }
}
