@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.footerContainer {
  width: 100%;
  height: fit-content;
  justify-content: space-around;
  align-items: start;
  padding: 30px 40px;
  font-family: "Poppins", sans-serif;
  border-top: 1px solid rgb(52, 51, 51);
  background-color: #141414;
  color: white;
}

.navContainer > div {
  height: fit-content;
}

.linksDiv {
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}

.linksDiv > div {
  text-align: start;
  flex-direction: column;
  padding: 0px 20px;
}

.linksDiv > div p {
  font-size: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 20px;
  color: grey;
  font-weight: 400;
}

.links > a:hover {
  color: rgb(208, 205, 205);
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .linksDiv {
    grid-template-columns: repeat(2, 1fr);
    justify-items: space-between;
    text-align: center;
    gap: 20px;
  }

  .linksDiv > div{
    text-align: center;
  }

  .linksDiv > div p{
    font-size: 16px;
  }

  .links{
    margin-top: 5px;
  }

  .linksDiv > div a {
    font-size: 20px;
    text-align: center;
    font-size: 12px;
  }
}
