@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

.container {
  font-family: "Anta", sans-serif;
}

.level{
    gap: 5px;
    justify-content: space-between;
}

.level > button{
    min-width: 20px;
    height: fit-content;
    border-radius: 30%;
    font-size: 12px;
    background-color: grey;
}

.level > button:nth-child(1){
    background-color: white;
    width: fit-content;
    color: black;
    border-radius: 4px;
    padding: 0px 5px;
}

.NftDiv{
    border: 2px solid #00FFFF;
    height: 30vh;
    margin-top: 20px;
    background-image: url('https://imgur.com/EtFE0KK.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}