@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

.container {
  font-family: "Anta", sans-serif;
}

.level {
  gap: 5px;
  justify-content: space-between;
}

.level > button {
  min-width: 20px;
  height: fit-content;
  border-radius: 30%;
  font-size: 12px;
}

.active {
  background-color: #0EFF1F;
  width: fit-content;
  color: rgb(16, 1, 1);
  border-radius: 4px;
  padding: 0px 5px;
}

.notactive {
  background-color: rgb(114, 114, 114);
}

.NftDiv {
  border: 2px solid #00ffff;
  height: 30vh;
  margin-top: 20px;
}
