@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: #141414;
  color: white;
  font-family: "Anta", sans-serif;
}

.sidebar {
  border-right: 2px solid rgb(55, 55, 55);
  width: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 20px;
  cursor: pointer;
}

.links {
  margin-top: 50px;
}

.linkTag {
  padding: 8px 14px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.transectionBtn {
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 10px;
}

.transectionBtn > button {
  width: 120px;
  height: 40px;
  border: 1px solid rgb(69, 68, 68);
  border-radius: 10px;
  background-color: transparent;
  color: white;
}

.transectionBtn > button:hover {
  background-color: rgb(58, 58, 58);
}

.linkTag:hover {
  background-color: blue;
  color: white;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 40px;
  padding: 40px;
}

.profileSection {
  width: 40%;
  height: fit-content;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  margin-top: 10px;
}

.coverImg {
  width: 100%;
  height: 25vh;
}

.profileImg {
  border: 2px solid grey;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: -60px auto;
}

.profileImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 10px;
  color: white;
}

.houseDiv {
  position: relative;
}

.houseTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  font-size: 25px;
}

.houseDiv:hover .houseTxt {
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxContainer > div:nth-child(1) {
  background-color: #654e30;
  box-shadow: rgba(7, 7, 7, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.boxContainer > div:nth-child(2) {
  background-color: #044a2f;
  box-shadow: rgba(7, 7, 7, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.boxContainer > div:nth-child(3) {
  background-color: #04345c;
  box-shadow: rgba(7, 7, 7, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.boxContainer > div:nth-child(4) {
  border: 1px solid rgb(59, 59, 59);
  box-shadow: rgba(7, 7, 7, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.box {
  width: 100%;
  height: 9vh;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box > img {
  width: 60px;
  height: 50px;
}

.emptyNFT {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyNFT > button {
  background-color: blue;
  color: white;
}

.neonText {
  color: #faf9f9;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(243, 52, 42), 0 0 82px rgb(255, 28, 7),
    0 0 92px rgb(233, 15, 15), 0 0 102px rgb(250, 73, 67),
    0 0 151px rgb(251, 88, 52);
}

.btn {
  width: 100%;
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;  color: white;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.progressbar {
  margin-bottom: 20px;
  padding: 0px 20px;
}

.filledBars {
  background-color: blue;
}

.btn:hover {
  background-color: white;
  color: black;
}

.info {
  margin: 100px;
  text-align: center;
}

.nftSection {
  width: 100%;
  overflow-y: scroll;
}

.nftSection::-webkit-scrollbar {
  display: none;
}

.nftGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.nftCard {
  border: 1px solid grey;
  height: fit-content;
  padding: 8px;
}

.mobileNav {
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 100%;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main {
    flex-direction: column;
    height: fit-content;
    padding: 20px;
  }

  .profileSection {
    width: 100%;
    height: fit-content;
    border: 1px solid rgb(72, 71, 71);
    overflow: hidden;
    margin-top: 10px;
  }

  .coverImg {
    height: 20vh;
  }

  .nftGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .tabs {
    flex-direction: column-reverse;
  }

  .tabs > div {
    width: 100%;
    gap: 0px;
  }
}
